.App {
    display: flex;
    flex-direction: row;

  }
  
  .left-section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    overflow-x: auto; /* Enable horizontal scrolling */

  }
  
  th,
  td {
    border: 1px solid black;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 8px;
    text-align: center;
    font-family: Popins, sans-serif;

  }
  
  th {
    font-weight: bold;
    font-family: Popins, sans-serif;
  }
  
  .table-heading {
    margin-bottom: 20px;
  }
  

  .group-heading {
    font-family: Popins, sans-serif;
  }
  
  .titleimg{
    width: 40%;
  }

  .frontimg{
    width: 60%;
  }

  .Btn{
    background-color: #c09a03;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {

    .App {
      display: flex;
      flex-direction: column;

    }
    .titleimg{
        display: none;
    }

    .Btn{
        background-color: #c09a03;
        border-radius: 5px;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 2px 1px;
        cursor: pointer;
      }
  }
  
  @media only screen and (min-width: 600px) {
    .App {
      display: flex;
      flex-direction: row;
    }

  }
  
