.App {
    display: flex;
    flex-direction: row;

  }
  
  .left-section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    /* border: 1px solid black; */
    width: 80%;
  }
  
  th,
  td {
    border: 1px solid black;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 8px;
    text-align: center;
  }
  
  th {
    font-weight: bold;
  }
  
  .table-heading {
    margin-bottom: 20px;
  }
  

  
  .group-heading {
    text-align: left;
  }
  
  .titleimg{
    width: 60%;
    height: 60%;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {

    table {
      overflow-x: auto; /* Enable horizontal scrolling */
      display: block; /* Enable vertical scrolling if needed */
      white-space: nowrap; /* Prevent table cells from wrapping */
      width: 80%;
    }
  
    th,
    td {
      padding: 8px;
      text-align: center;
    }
  
    .App {
      display: flex;
      flex-direction: column;

    }
  }
  
  @media only screen and (min-width: 600px) {
    .App {
      display: flex;
      flex-direction: row;
    }

  }
  
